﻿@page "/accounts"
@inject HttpClient Http
@using brickadmin.Shared

<h1>Accounts</h1>

<p>No. of Accounts: @accounts.Length</p>
<ul class="flex-column">
    @for (int i = paginationStart; i<accounts.Length; i++)
    {
            ShortAccount acc = accounts[i];
         <li>
             <a href="/accounts/@(acc.ID)">@acc.ExternalBinding @acc.ID.Substring(0,6) </a>
         </li>
    }
</ul>

@functions {

    int paginationStart = 0;

    ShortAccount[] accounts = new ShortAccount[] { };
    protected override async Task OnInitAsync()
    {
        accounts = await Http.GetJsonAsync<ShortAccount[]>("api/accounts");
    }
}
