﻿@page "/orders/{id}"
@inject HttpClient Http
@using brickadmin.Shared

@if (loading)
{
    <p>Loading</p>
}
else
{
    <h1>Order @id</h1>

    <p>Order Status @order.Status</p>
    <text>NotBefore: @order.NotBefore<br />
    NotAfter: @order.NotAfter<br /></text>


    @foreach (var authz in order.Authz)
    {
        <AuthorizationView authz="@authz" ReloadPage="@LoadOrder"></AuthorizationView>
    }
    if (order.Status == "valid")
    {
        if (certLoading)
        {
            <text>Certificate still loading...</text>
        }
        else
        {
            if (c.RevocationDate == null)
            {
                <button onclick="@(async () => await RevokeCert())">Revoke</button>
            }
            else
            {
                <text>Certificate revoked on @c.RevocationDate</text>
            }
           <pre>@certString</pre>
        }
    }
    else
    {
        <text>No Certificate has been issued</text>
    }
}


@functions {

    public bool loading = false;
    [Parameter]
    private string id { get; set; }

    public Order order { get; set; } = new Order();
    public string certString { get; set; }
    public bool certLoading = true;
    Certificate c;

    protected override async Task OnInitAsync()
    {
        order.Authz = new List<Authorization>();
        await LoadOrder();
    }
    private async Task LoadOrder()
    {
        loading = true;
        order = await Http.GetJsonAsync<Order>($"api/orders/{id}");
        loading = false;
        StateHasChanged();
        if (order.Status == "valid")
        {
            await GetCertificate(order.CertID);
        }
    }
    private async Task RevokeCert()
    {
        Console.WriteLine("RevokeCert");
        await Http.PostAsync($"api/certificates/{order.CertID}/revoke", new StringContent(""));
        await LoadOrder();
    }

    private async Task GetCertificate(string id)
    {
        certLoading = true;
        c = await Http.GetJsonAsync<Certificate>($"api/certificates/{id}");
        certString = c.Cert + c.CaCerts[0] + c.CaCerts[1];
        certLoading = false;
        StateHasChanged();
    }
}
