﻿@page "/accounts/{id}"
@using brickadmin.Shared
@inject HttpClient Http

@if (loading)
{
    <p>Loading...</p>
}
else
{
    <h1>Account</h1>
    <h2>Status @acc.Status</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Orders</h2>
                <ul>
                    @foreach (var order in acc.Orders)
                    {
                        <li>
                            <a href="/orders/@order">@order</a>
                        </li>
                    }

                </ul>
            </div>
            <div class="col-sm">
                @foreach (var authz in acc.Authorizations)
                {
                    <AuthorizationView authz="@authz" ReloadPage="@Load"></AuthorizationView>
                }
            </div>
        </div>
    </div>
}


@functions {
public bool loading = false;
[Parameter]
private string id { get; set; }

Account acc = new Account();

protected override async Task OnInitAsync()
{
    acc.Orders = new List<string>();
    acc.Authorizations = new List<Authorization>();
    await Load();
}
private async Task Load()
{
    loading = true;
    acc = await Http.GetJsonAsync<Account>($"api/accounts/{id}");
    loading = false;
    StateHasChanged();
}

}
