﻿@using brickadmin.Shared
@inject HttpClient Http

<div class="main">
    <h3>Authorization for @authz.Value @authz.Status</h3>
    @foreach (var chal in authz.Challenges)
    {
        <p>@chal.Type  Status @chal.Status</p>
    }
    @if (authz.Status == "pending")
    {
        <button onclick="@(async () => await Authorize())">Authorize</button>
    }
</div>

@functions{
    [Parameter]
    private Authorization authz { get; set; }
    [Parameter]
    private Func<Task> ReloadPage { get; set; }

    public async Task Authorize()
    {
        await Http.PostAsync($"api/authz/{authz.Id}/authorize", null);
        Console.WriteLine("Reloading Page");
        await ReloadPage();
        StateHasChanged();
    }
}